html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

body {
	background-color: rgb(120,120,120);
	
}

#main{
	
	margin-top: 0;

	

}

.container {
	width: 960px;
	margin: 0 auto;
	
	
/*navbar styles*/
}

nav{
	margin-top: 60px;
	background-color: rgb(45,45,45);
	height: 80px;
	text-align: center;
	border-bottom: 1px solid white;

}

nav ul.navlinks {
	list-style-type: none;
	padding: 0;
	padding-top: 20px;
	height: 100%;
		
	
}
	nav ul.navlinks > li{
		display: block;
		float: left;
		padding: 0px 15px 0px 18px;
		font-family: 'Muli', sans-serif;
		font-size: 23px;
		position: relative;
		border-right: 1px solid #444;
		border-left: 1px solid black;
		height: 100%;
		z-index: 20;

	}

		nav ul.navlinks li:last-child{
			border-right: none;
		}
		nav ul.navlinks li:first-child{
			border-left: none;
		}
		nav ul.navlinks li a {
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			height: 100%;
			display: inline-block;
			padding-top: 8px;
			padding-bottom: 45px;
			
		}

/*hover styles*/

nav ul.navlinks li a:hover {
	color: rgb(17,116,142);
}


/*header styles*/

header {
	height: 310px;
	background-color: rgb(126,164,172);
	position: relative;
	overflow: hidden;
	background-image: url(images/slice.png);
	background-repeat: repeat-x;

}

	header img#folks{
		height: 240px;
		position: absolute;
		bottom: 0;
		right: 82px;
	}
	header img#logo{
		opacity: 0.5;
		float: left;
	}

	header #logodiv{
		
		width: 470px;
		height: 140px;
		margin-top: 75px;
		margin-left: 30px;

	}

	header h1{
		text-transform: uppercase;
		font-family: 'Muli', sans-serif;
		font-size: 50px;
		letter-spacing: -1px;
		margin-left: -50px;
		margin-top: 47px;
		float: left;
		padding-right: 4px;
	}

	header h1 strong {
		color: white;
		font-weight: bold;
	}

/* Content Columns */

	.content {
		height: 610px;
		overflow: auto;
		background-color: white;
	}

	/*left column*/

	.content #left-block {
		float:left;
		background-color: rgb(232,232,232);
		width: 325px;
		height: 100%;
	}

		h2{

			font-size: 30px;
			color: rgb(17,116,142);
			font-family: 'Muli', sans-serif;
			margin-top: 50px;

		}

		#left-block ul {
			list-style: disc;
			padding-left: 21px;
			padding-right: 33px;
			margin-top: 12px;

		}

		#left-block li {
			margin-top: 3px;
			border-bottom: 1px solid lightgrey;
			padding-bottom: 7px;
			padding-top: 5px;

		}

		#left-block li:last-child{
			border:none;
		}

		#left-block #left-text {
			padding-left: 30px;
		}

		#left-block #contact-us {
			background-image: url(images/button-background.png);
			width: 257px;
			height: 90px;
			margin: 0 auto;
			margin-top: 50px;
			text-align: center;
			cursor: pointer;

		}

		#contact-us h3{
			font-family: 'Muli', sans-serif;
			font-size: 30px;
			color: white;
			padding-top: 29px;
			padding-right: 51px;
		}


/*right column*/

.content #right-block {
		float:right;
		background-color: white;
		width: 625px;
		height: 100%;
		position: relative;
		
}

#right-block strong {
	font-weight: bold;
}

#right-block p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	word-spacing: 2px;
}

#right-block h2, #right-block p{
	padding: 25px;
}

#right-block h2{
	padding-top: 0;
}

#right-block a {
	color: rgb(17,116,142);
}

#right-block .bluebox {
	width: 570px;
	height: 156px;
	background-color: rgb(180,211,217);
	margin: 0 auto;
	border-radius: 7px;
	margin-top: 10px;
}
	.bluebox h1 {
		text-transform: uppercase;
		font-family: 'Muli', sans-serif;
		font-size: 43px;
		letter-spacing: -1px;
		float:left;
		margin-top: 30px;
		margin-bottom: 13px;
		border-bottom: 1px solid white;
		padding-right: 205px;
	
	}

	.bluebox h1 strong {
		color: white;
		font-weight: bold;
	}

	.bluebox h1, .bluebox p{
		margin-left: 30px;
	}
	
	.bluebox p {
		font-style: italic;
		font-size: 12px;
		
		line-height: 16px;
	}

		#backtotop a{
			position: absolute;
			bottom: 18px;
			right: 28px;
			font-family: Arial;
			text-decoration: none;
			color: black;
			font-size: 12px;
		}
		#backtotop i {
			font-size: 18px;
			color: rgb(17,116,142);
		}

/*footer styles*/

footer {
	font-family: Arial, Helvetica, sans-serif;
	height: 170px;
	font-size: 12px;
	color: white;
	line-height: 18px;
}
	footer strong {
		font-weight: bold;
	}

.footer-column {
	float: left;
	width: 240px;
	margin: 20px 0px 0px 20px;
}


.long {
	text-align: right;
	width: 400px;
}
	.long a {
		text-decoration: none;
		color: white;
		
	}



/*---dropdown syling---*/

.dropdown{
	display: none;
	position: absolute;
	top:60px;
	left:28px;
	z-index: 5;
	color: white;
	background-color: rgb(45,45,45);
	font-family: Arial, Helvetica,sans-serif;
	cursor: pointer;

}
nav li ul {
	text-align: left;
	list-style: disc;
	padding: 24px;
}

nav li ul li { /*dropdown list items*/
	font-size: 12px;
	border: none;
	padding: 5px 0 5px 0;
}

nav li ul li:hover{
color: rgb(17,116,142);
}

nav a:hover + .dropdown {
	display: block;
}

.dropdown:hover {
	display: block;

}


