html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

body {
	background-color: rgb(120,120,120);
	
}

#main{
	
	margin-top: 0;

	

}

.container {
	width: 960px;
	margin: 0 auto;
	
	
	
}

nav{
	margin-top: 60px;
	background-color: rgb(45,45,45);
	height: 80px;
	text-align: center;
	border-bottom: 1px solid white;

}

nav ul.navlinks {
	list-style-type: none;
	padding: 0;
	padding-top: 20px;
	height: 100%;
		
	
}
	nav ul.navlinks > li{
		display: block;
		float: left;
		padding: 8px 15px 8px 18px;
		font-family: 'Muli', sans-serif;
		font-size: 23px;
		position: relative;
		border-right: 1px solid #444;
		border-left: 1px solid black;
		height: 100%;
		z-index: 20;

	}

		nav ul.navlinks li:last-child{
			border-right: none;
		}
		nav ul.navlinks li:first-child{
			border-left: none;
		}
		nav ul.navlinks li a {
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			height: 100%;
		}

header {
	height: 310px;
	background-color: rgb(126,164,172);
	position: relative;
	overflow: hidden;
	background-image: url(images/slice.png);
	background-repeat: repeat-x;

}

	header img#folks{
		height: 240px;
		position: absolute;
		bottom: 0;
		right: 82px;
	}
	header img#logo{
		opacity: 0.5;
		float: left;
	}

	header #logodiv{
		
		width: 470px;
		height: 140px;
		margin-top: 75px;
		margin-left: 30px;

	}

	header h1 {
		text-transform: uppercase;
		font-family: 'Muli', sans-serif;
		font-size: 50px;
		letter-spacing: -1px;
		margin-left: -50px;
		margin-top: 47px;
		float: left;
		padding-right: 4px;
	}

	header h1 strong {
		color: white;
		font-weight: bold;
	}

	/* Content Columns */

	.content {
		height: 610px;
		overflow: auto;
	}

	.content #left-block {
		float:left;
		background-color: rgb(232,232,232);
		width: 330px;
		height: 100%;
	}

		#left-block h2{

			font-size: 30px;
			color: rgb(17,116,142);
			font-family: 'Muli', sans-serif;
			margin-top: 50px;

		}

		#left-block ul {
			list-style: disc;
			padding-left: 21px;
			padding-right: 33px;
			margin-top: 12px;

		}

		#left-block li {
			margin-top: 3px;
			border-bottom: 1px solid lightgrey;
			padding-bottom: 7px;
			padding-top: 5px;

		}

		#left-block li:last-child{
			border:none;
		}

		#left-block #left-text {
			padding-left: 30px;
		}

		#left-block #contact-us {
			background-image: url(images/button-background.png);
			width: 257px;
			height: 90px;
			margin: 0 auto;
			margin-top: 50px;
			text-align: center;
			cursor: pointer;

		}

		#contact-us h3{
			font-family: 'Muli', sans-serif;
			font-size: 30px;
			color: white;
			padding-top: 29px;
			padding-right: 51px;
		}




	.content #right-block {
		float:left;
		background-color: white;
		width: 628px;
		height: 100%;
	}

/*dropdowns*/
nav li ul {
	position: absolute;
	top:60px;
	left:28px;
	z-index: 5;
	color: white;
	background-color: rgb(45,45,45);
	list-style: disc;
	display: none;
	padding: 24px;
}

nav li ul li { /*dropdown list items*/
	font-size: 12px;
	border: none;
}

nav a:hover + ul {
	display: block;
}

nav li ul:hover {
	display: block;

}


